body {
  background-color: #e6e6e6; /* Dark background */
  color: #000000; /* Light text color */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Consistent font */
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: #ffffff; /* Darker header */
  padding: 15px 0;
}

.navbar {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: #000000; /* Light text for links */
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
  color: #1abc9c; /* Highlight color on hover */
}

.container {
  text-align: center;
  padding: 20px;
}

.container-heading {
  margin-bottom: 20px;
}

.heading-te{
  color:rgb(7, 7, 77);
}

.heading-text {
  font-size: 2em;
  color: #000000; /* Consistent heading color */
}

.resume-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.project-description {
  margin: 20px 0;
  color: #000000; /* Light text for description */
}

.pricing-box {
  background-color: #e6e6e6; /* Darker pricing box */
  padding: 15px;
  border-radius: 10px;
}

.price {
  color: #e74c3c; /* Price color */
  font-size: 1.5em;
}

.pay-button {
  background-color: #1abc9c; /* Button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pay-button:hover {
  background-color: #16a085; /* Darker button on hover */
}

.site-footer {
  background-color: #e6e6e6; /* Dark footer */
  color: #ecf0f1; /* Light text for footer */
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
